@media screen and (max-width: 980px) {
  .center {
    padding: 0 25px;
  }
}

@media screen and (max-width: 780px) {
  .wrap {
    /* height: auto; */
    justify-content: start;
  }

  /* container style */
  .container {
    width: 100%;
    height: auto;
    padding: 20px 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5px;
    grid-auto-rows: minmax(100px, auto);
    padding: 20px 0;
  }

  .item:nth-child(1),
  .item:nth-child(2),
  .item:nth-child(3),
  .item:nth-child(4),
  .item:nth-child(5) {
    grid-column: 1/3;
  }

  .inputContainer {
    width: 100%;
    height: auto;
    padding: 20px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
    grid-auto-rows: minmax(100px, auto);
  }

  .inputContainer .item {
    border: 1px solid;
    background: #fff;
    border: 1px solid #eee;
  }

  /* button box style */
  .btns {
    justify-content: center;
  }

  .btns button {
    font-size: 12px;
    padding: 5px 20px;
  }

  /* footer style */
  footer {
    position: relative;
  }

  /* schedule board page style */

  .item.boardBox .boardTable span {
    font-size: 12px;
  }
}

@media screen and (max-width: 600px) {
  .item.inputBox .projectCate {
    font-size: 12px;
    width: 100%;
  }

  .item.inputBox .projectTit {
    font-size: 12px;
    width: 100%;
  }

  .item.inputBox .projectCon {
    font-size: 12px;
  }

  /* schedule board page style */
  .item.boardBox .boardTable span.boNum {
    display: none;
  }

  .item.boardBox .boardTable span.boCate {
    width: 30%;
  }

  .item.boardBox .boardTable span.boReg {
    width: 30%;
  }

  .categoryTabs {
    text-align: center;
  }
}

@media screen and (max-width: 400px) {
  /* header title style */
  header h1 {
    font-size: 16px;
  }

  .container {
    grid-auto-rows: minmax(70px, auto);
  }
  .circle-graph p {
    font-size: 18px;
    font-weight: 400;
  }

  .subPfBar .pfImg {
    font-size: 20px;
  }

  /* button style */
  .btns button {
    width: 50%;
    padding: 10px 5px;
  }

  /* footer style */
  footer {
    padding: 10px 15px;
  }

  footer p {
    font-size: 12px;
  }

  /* schedule board page style */
  .item.boardBox .boardTable span.boCate {
    display: none;
  }
  .item.boardBox .boardTable span.boTit {
    width: 60%;
  }
  .item.boardBox .boardTable span.boReg {
    width: 40%;
  }
}
